<nav>
  <!-- MENU ADMIN -->
  <div class="nav-wrapper">
    <a class="button-collapse" data-activates="nav-mobile" href="#"><i class="material-icons">menu</i></a>

    <ul class="left hide-on-med-and-down" id="nav-desktop">
      <li routerLinkActive="active"><a routerLink="/heroes">Heróis</a></li>
      <li routerLinkActive="active"><a routerLink="/statistic">Estatísticas</a></li>
    </ul>
    <ul class="right hide-on-med-and-down" id="nav-desktop-complementary">
      <li><a (click)="logout()"><i class="material-icons left">lock_open</i>Sair</a></li>
    </ul>

    <ul class="side-nav" id="nav-mobile">
      <li routerLinkActive="active"><a routerLink="/heroes">Heróis</a></li>
      <li routerLinkActive="active"><a routerLink="/statistic">Estatísticas</a></li>
      <li routerLinkActive="active"><div class="divider"></div></li>
      <li routerLinkActive="active"><a (click)="logout()">Sair</a></li>
    </ul>
  </div> 
</nav>