<div class="container" style="margin-top: 25px">
  <div id="statistic" class="row">
      <div class="col s12">
        <a class="btn waves-effect waves-light"(click)="getStatistic(1)">
          <i class="material-icons">trending_down</i><br/>Estatísticas dos Heróis
        </a>
        <a class="btn waves-effect waves-light" (click)="getStatistic(2)">
          <i class="material-icons">trending_flat</i><br/>Estatisticas Gerais
        </a>
        <a class="btn waves-effect waves-light" (click)="getStatistic(3)">
          <i class="material-icons">trending_up</i><br/>Estatísticas Tipo Pessoas
        </a>
     </div>
	</div>
</div>

<section id="generalStatistic" *ngIf="showGeneralStatistic">
  <general-statistic></general-statistic>
</section>

<section id="heroStatistic" *ngIf="showHeroStatistic">
  <general-statistic></general-statistic>
</section>

<section id="peopleStatistic" *ngIf="showPeopleStatistic">
  <general-statistic></general-statistic>
</section>