<div class="container lateral-padding-20 left-align" style="margin-top: 20px">
  <div class="row">
    <div class="col s12 center-align" [hidden]="!load" style="margin-top: 25px;">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-teal-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
              <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <br />
      <h4>Aguarde...</h4>
    </div>

    <form class="col s12" *ngIf="role === 'A'">
      <h1>Adicionar Herói</h1>
      <div class="row">
        <div class="input-field col s12">
          <label for="name">Nome</label>
          <input [(ngModel)]="newHero.name" type="text" name="name" id="name" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="ident">Identificação</label>
          <input [(ngModel)]="newHero.heroNumber" type="text" name="ident" id="ident" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="avatar">Avatar</label>
          <input [(ngModel)]="newHero.avatar" type="text" name="avatar" id="avatar" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="col m12">
          <p class="right-align">
            <button class="btn btn-large waves-effect waves-light" (click)="addHero()">
              Adicionar
            </button>
          </p>
        </div>
      </div>
    </form>
  </div>
  <section id="heroesList">
    <div class="row" id="userList" *ngIf="heroes">
      <h1>Lista de Heróis</h1>
      <ul class="collection" *ngFor="let hero of heroes">
        <li class="collection-item avatar">
          <img src={{hero.avatar}} alt="" class="circle">
          <div *ngIf="(!showUpdateHero || hero.id !== heroDefault.id)">
            <span class="title">{{hero.name}}</span>
            <p>Matrícula: {{hero.heroNumber}}</p>
            <a (click)="editHero(hero)" *ngIf="role === 'A'"><i class="material-icons">mode_edit</i></a>
            <a (click)="removeHero(hero)" *ngIf="role === 'A'"><i class="material-icons">delete_forever</i></a>
          </div>
          <div *ngIf="(showUpdateHero && hero.id === heroDefault.id)">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <label class="active" for="currentName">Nome</label>
                  <input [(ngModel)]="currentHero.name" type="text" name="currentName" id="currentName" class="validate">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <label class="active" for="currentIdent">Identificação</label>
                  <input [(ngModel)]="currentHero.heroNumber" type="text" name="currentIdent" id="currentIdent" class="validate">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <label class="active" for="currentAvatar">Avatar</label>
                  <input [(ngModel)]="currentHero.avatar" type="text" name="currentAvatar" id="currentAvatar" class="validate">
                </div>
              </div>
              <div class="row">
                <div class="col m3">
                  <p class="right-align">
                    <button class="btn btn-large waves-effect waves-light" (click)="updateHero(hero)">
                      Alterar
                    </button>
                  </p>
                </div>
                <div class="col m3">
                  <p class="right-align">
                    <button class="btn btn-large waves-effect waves-light" (click)="cancelUpdateHero()">
                      Cancelar
                    </button>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>