h1 {
    color: #1fa67b;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
h1 {
    color: #1fa67b;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
    color: #212121;
}

#statistic .btn {
  width: 200px !important;  
  height: 150px !important;
  margin-top: 15px;
}

/*    --------------------------------------------------
    :: Footer
	-------------------------------------------------- */
#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}