<div class="container lateral-padding-20 center-align">
  <div class="col s12 center-align" [hidden]="!load" style="margin-top: 25px;">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-teal-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <br />
    <h4>Aguarde...</h4>
  </div>

  <h1>{{lblTitle}}</h1>

  <input name="groupChart" type="radio" id="month" (change)="getDataChart(1)" checked />
  <label for="month">Meses</label>
  <input name="groupChart" type="radio" id="year" (change)="getDataChart(2)" />
  <label for="year">Anos</label>

  <div class="row">
    <div class="col-md-6">
      <div style="display: block;" *ngIf="chart">
        <canvas baseChart width="400" height="400"
                    [datasets]="chart.data"
                    [labels]="chart.label"
                    [options]="chart.option"
                    [legend]="chart.legend"
                    [chartType]="chart.type">
        </canvas>
      </div>
    </div>
  </div>
</div>