<section id="login" class="container">
  <div class="row">
    <!-- AGUARDE -->
    <div class="col s12 center-align" [hidden]="!submitted" style="margin-top: 25px;">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-teal-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
              <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <br />
      <h4>Aguarde...</h4>
    </div>

    <!-- FORMULÁRIO DE LOGIN -->
    <div class="col m6">
      <h1>Entre com sua conta de e-mail</h1>
      <div class="row">
        <form class="col s12">
          <general-error [errors]="submitErrorMessages"></general-error>
          <div class="row">
            <div class="input-field col s12">
              <label for="email">Email</label>
              <input [(ngModel)]="login.email" type="email" name="email" id="email" class="validate">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <label for="password">Senha</label>
              <input [(ngModel)]="login.password" type="password" name="password" id="password" class="validate">
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <p>
                <input id="keepConnected" type="checkbox" (change)="login.keepConnected = !login.keepConnected">
                <label for="keepConnected">Manter-me conectado</label>
              </p>
            </div>
          </div>
          <div class="divider"></div>
          <div class="row">
            <div class="col m12">
              <p class="right-align">
                <button type="button" id="btn-login" class="btn btn-large waves-effect waves-light"(click)="submitForm()">Entrar</button>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>