<footer>
	<div class="container">
	  <div class="row">
	  	<hr>
	    <div class="col-md-12">
	      <div class="col-md-3">
	        <a href="#">Termos de uso </a> | <a href="#">Privacidade</a>    
	      </div>
	      <div class="col-md-8">
	        <span>© 2017 Controle de Heróis. Todos os direitos reservados</span>
	      </div>
	    </div>
	  </div>
	</div>
</footer>